<section id="contact" class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6">
                <div class="col-12 d-flex justify-content-center">
                    <div style="width:100px;">
                        <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-report">
                            Bağımsız Denetim Raporu Ekle
                        </a>
                    </div>
                </div>
                <h1 class="mb-5 text-center"><b>Bağımsız Denetim Raporları</b></h1>
                <div class="col-12">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Yıl</th>
                                <th>Rapor Adı</th>
                                <th>Rapor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in ViewBag.BagimsizDenetimRaporlari)
                                {
                                    <tr>
                                        <td>@item.Year</td>
                                        <td>@item.RaporAdi</td>
                                        <td><a href="@item.RaporYolu"><img src="/home/assets/images/icon/icon_pdf.png" /></a></td>
                                        <td><a href="#">Sil</a> <a href="#">Düzenle</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="col-12 d-flex justify-content-center">
                    <div style="width:100px;">
                        <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-report1">
                            Bağımsız Derecelendirme Raporu Ekle
                        </a>
                    </div>
                </div>
                <h1 class="mb-5 text-center"><b>Bağımsız Derecelendirme Raporları</b></h1>
                <div class="col-12">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Yıl</th>
                                <th>Rapor Adı</th>
                                <th>Rapor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in ViewBag.BagimsizDerecelendirmeRaporlari)
                                {
                                    <tr>
                                        <td>@item.Year</td>
                                        <td>@item.RaporAdi</td>
                                        <td><a href="@item.RaporYolu"><img src="/home/assets/images/icon/icon_pdf.png" /></a></td>
                                        <td><a href="#">Sil</a> <a href="#">Düzenle</a></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bağımsız Denetim Raporu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="Admin" asp-controller="Kurumsal" asp-action="BagimsizDenetimRaporu" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">Yıl</label>
                        <input type="number" class="form-control" name="Year" placeholder="Rapor Yılı Giriniz..">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Adı</label>
                        <input type="text" class="form-control" name="RaporAdi" placeholder="Rapor Adı Giriniz..">
                    </div>
                    <div>
                        <div class="form-label">Rapor Yükle</div>
                        <input type="file" class="form-control" name="pdf" />
                    </div>
                    <input type="submit">

                </form>

            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Kapat
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-report1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bağımsız Derecelendirme Raporu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="Admin" asp-controller="Kurumsal" asp-action="BagimsizDerecelendirmeRaporu" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">Yıl</label>
                        <input type="number" class="form-control" name="example-text-input" placeholder="Rapor Yılı Giriniz..">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Adı</label>
                        <input type="text" class="form-control" name="example-text-input" placeholder="Rapor Adı Giriniz..">
                    </div>
                    <div>
                        <div class="form-label">Rapor Yükle</div>
                        <input type="file" class="form-control" name="pdf"/>
                    </div>
                    <input type="submit">
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Kapat
                </a>
           
            </div>
        </div>
    </div>
</div>