
<section class="main-contact-form-area pdb100">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-report">
                    Yıllık Bono/Tahvil Ekle
                </a>
            </div>
            <div class="col-3">
                <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#modal-report1">
                    Bono/Tahvil Kayıt Ekle
                </a>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Yıl</th>
                            <th>Bono/Tahvil İhraç Tutarı (TL)</th>
                            <th>İtfa Edilmiş Tutar (TL)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in ViewBag.YillikTahvilBono)
                            {
                                <tr>
                                    <td>@item.Yil</td>
                                    <td>@item.BonoTahvilTutari</td>
                                    <td>@item.ItfaEdilmisTutar</td>
                                    <th><a href="#">Düzenle</a> <a asp-area="Admin" asp-controller="Kurumsal" asp-action="YillikTahvilBonoSil" asp-route-id="@item.Id">Sil</a></th>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="col-12" style="margin-top: 60px">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Aracı Kurum</th>
                            <th>Türü</th>
                            <th>İhraç Tarihi</th>
                            <th>Tahvil / Bono Vadesi</th>
                            <th>Vade Gün ​​Sayısı</th>
                            <th>Tahvil / Bono Tutarı (TL)</th>
                            <th>Durumu</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in ViewBag.TahvilBono)
                            {
                                <tr>
                                    <td>@item.AraciKurum</td>
                                    <td>@item.Turu</td>
                                    <td>@item.IhracTarihi.ToString("dd/MM/yyyy")</td>
                                    <td>@item.TahvilBonoVadesi.ToString("dd/MM/yyyy")</td>
                                    <td>@item.VadeGunSayisi</td>
                                    <td>@item.TahvilBonoTutari</td>
                                    <td>@item.Durumu</td>
                                    <th><a href="#">Düzenle</a> <a asp-area="Admin" asp-controller="Kurumsal" asp-action="TahvilBonoSil" asp-route-id="@item.Id">Sil</a></th>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Yıllık Bono/Tahvil bilgisi ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-area="Admin" asp-controller="Kurumsal" asp-action="YillikTahvilBono">
                    <div class="mb-3">
                        <label class="form-label">Yıl</label>
                        <input type="number" class="form-control" name="Yil" placeholder="Yıl Giriniz..">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Bono/Tahvil İhraç Tutarı (TL)</label>
                        <input type="number" class="form-control" name="BonoTahvilTutari" placeholder="Bono/Tahvil İhraç Tutarı Giriniz..">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">İtfa Edilmiş Tutar (TL)</label>
                        <input type="number" class="form-control" name="ItfaEdilmisTutar" placeholder="İtfa Edilmiş Tutarı Giriniz..">
                    </div>
                    <input type="submit" class="form-control">
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Kapat
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-report1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" asp-area="Admin" asp-controller="Kurumsal" asp-action="TahvilBono">
                <div class="modal-header">
                    <h5 class="modal-title">Bono/Tahvil bilgisi ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Aracı Kurum</label>
                        <input type="text" class="form-control" name="AraciKurum" placeholder="Aracı Kurum Giriniz..">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Türü</label>
                        <input type="text" class="form-control" name="Turu" placeholder="Türü Giriniz..">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">İhraç Tarihi</label>
                        <input type="text" name="IhracTarihi" class="form-control" data-mask="00/00/0000" data-mask-visible="true" placeholder="00/00/0000" autocomplete="off" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Vadesi</label>
                        <input type="text" name="TahvilBonoVadesi" class="form-control" data-mask="00/00/0000" data-mask-visible="true" placeholder="00/00/0000" autocomplete="off" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Vade Gün Sayısı</label>
                        <input type="number" class="form-control" name="VadeGunSayisi" placeholder="Vade Gün Sayısı Giriniz..">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tahvil / Bono Tutarı</label>
                        <input type="number" class="form-control" name="TahvilBonoTutari" placeholder="Tahvil / Bono Tutarı Giriniz..">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Durumu</label>
                        <input type="text" class="form-control" name="Durumu" placeholder="Durumu Giriniz..">
                    </div>
                    <input type="submit" class="form-control">
                </div>
            </form>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Kapat
                </a>
            </div>
        </div>
    </div>
</div>